<a href="https://colab.research.google.com/github/20A31A0522/sailaja-eztraining-python/blob/main/DAY2(content%2Bprograms).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1.BITWISE**

In [ ]:
#bitwise&|
n1=int(input())
n2=int(input())
b1=bin(n1)
b2=bin(n2)
print(b1)
print(b2)
print(bin(n1&n2))
print(n1&n2)
print(bin(n1|n2))
print(n1|n2)

12
7
0b1100
0b111
0b100
4
0b1111
15

In [ ]:
#bitwisenot
print(~3)
print(~10)

-4
-11

In [ ]:
#xor-same=1,diff=0
print(5^6)
print(9^8)

3
1

In [ ]:
#left,right shift
print(10<<2)
print(10>>2)

40
2

### Get two no.s as input - both less than or equal to 15. perform bitwise and,or,xor

In [ ]:
N1,N2=map(int,input("enter two numbers less than 15:").split(","))
print(N1&N2)
print(N1|N2)
print(~N1)
print(~N2)
print(N1^N2)

enter two numbers less than 15:7,8
0
15
-8
-9
15

print multiple inputs in one line using list,strip,split

In [ ]:
n=int(input("size"))
a=list(map(int,input("numbers:").strip().split()))[:n]
print(a)

size3
numbers:   1 2    3 4
[1, 2, 3]

find the product of 10 integer no.s

In [ ]:
n=list(map(int,input().split()))
prod=1
for i in range(n):
  prod=prod*i
  print(prod)

1 2 3 4 5 6 7 8 9 10

TypeError: ignored

In [ ]:
print("it's","a","good","day")
print("all","is","good")

it's a good day
all is good

In [ ]:
print("it's","a","good","day",end='')
print("all","is","good",sep="***",end='')
print("joy")

it's a good dayall***is***goodjoy

PRINT(using split,end,strip..)
1.   upside down filled triangle
2.   hollow heart
3.   frog

In [ ]:
#1
print("*","*","*","*","*",sep=" ")
print('',"*",'*','*',"*",sep=" ")
print('','',"*",'*','*',sep=" ")
print('','','','*','*',sep=" ")
print('','','','','*',sep=" ")

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
#2
print('','*','*','','','*',"*",sep=" ")
print('','',"*",'','*','','*',sep=" ")
print('','','','*','','','*',sep=" ")
print('','','','','','*',sep=" ")

 * *   * *
  *  *  *
   *   *
     *

In [ ]:
print("          *         ")
print("\|/    *     *    \|/")
print("  \   *       *   /   ")
print("   \  *       *  /    ")

          *
\|/    *     *    \|/
  \   *       *   /
   \  *       *  /

### **2.Conditional satements**
*  if
-if-else
-else-if
-else-if ladder
-nested-if

### *#conditional-example*
1. temp>45 : hottest
2. 40 - 45 : hot
3. 25 - 40 : moderate
4. 10 - 25 : cold
5. below 10 : freezing

In [ ]:
temp=int(input())
if(temp>45):
  print("hottest")
elif(temp>40 and temp<=45):
  print("hot")
elif(temp>25 and temp<=40):
  print("moderate")
elif(temp>10 and temp<=25):
  print("cold")
elif(temp<=10):
  print("freezing")

30
moderate

### *#EXERCISE*

In [ ]:
#check if n is 500 or not
n=int(input())
if(n==500):
  print("number is 500")
else:
  print("number is not 500")

400
number is not 500

In [ ]:
#even(+or-)or odd(+or-)
n=int(input())
if(n%2==0):
  if(n>0):
    print("number is even-positive")
  else:
    print("number is even-negative")
else:
  if(n>0):
    print("number is odd-positive")
  else:
    print("the number is odd-negative")

5
number is odd-positive

In [ ]:
#greatest among two
n1,n2=int(input()),int(input())
if(n1>n2):
  print("n1 is the biggest")
else:
  print("n2 is the biggest")

12
13
n2 is the biggest

In [ ]:
#float or integer
n=input()
if("." in n):
  print("the given number is float")
else:
  print("the given number is integer")

4.8
the given number is float

In [ ]:
#float or integer(1)
n=4.8
if isinstance(n,int)==True:
  print("integer")
else:
  print("Float")

Float

In [ ]:
#float or integer(2)
n=8.1
if(n%1==0):
  print("integer")
else:
  print("float")

float

In [ ]:
#float or integer(3)
n=10.3
res=n-int(n)
if(res==0):
  print("int")
else:
  print("float")

float

In [ ]:
#greatest among three
n1,n2,n3=int(input()),int(input()),int(input())
if(n1>n2 and n1>n3):
  print("n1 is greatest")
elif(n2>n1 and n2>n3):
  print("n2 is greatest")
else:
  print("n3 is greatest")

11
22
25
n3 is greatest

In [ ]:
#divisible by 11
n=int(input())
if(n%11==0):
  print("the given number is divisible by 11")
else:
  print("the given number is not divisible by 11")

121
the given number is divisible by 11

In [ ]:
#divisible by 2 and 5
n=int(input())
if(n%2==0 and n%5==0):
  print("the given no. is divisible by both 2 and 5")
else:
  print("not divisible")

25
not divisible

In [ ]:
#divisible by 2 and 5(1)
n=int(input())
rem=n%10
if(rem==0):
  print("divisible by both 2 and 5")
else:
  print("not divisible")

30
divisible by both 2 and 5

### **3.Loops**

### *WHILE*

In [ ]:
i=int(input())
while i<=10:
  print(i)
  i+=1

1
1
2
3
4
5
6
7
8
9
10

In [ ]:
#USING WHILE LOOP EVEN NO.S FROM 2-20
i=2
while i<=20:
  if(i%2==0):
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
#USING WHILE--ODD FROM 1-30
i=1
while i<=30:
  if(i%2!=0):
    print(i)
    i+=2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### *FOR*

In [ ]:
for i in range(1,10):
  print(i)
print("----------------")
for j in range(2,10,2):
  print(j)

1
2
3
4
5
6
7
8
9
----------------
2
4
6
8

In [ ]:
for i in range(2,21):
  if(i%2==0):
    print(i)
print("---------------")
for j in range(1,31):
  if(j%2!=0):
    print(j)

2
4
6
8
10
12
14
16
18
20
---------------
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### *#Guess the number!*

In [ ]:
import random
n=random.randrange(1,100)
guess=int(input("guess a number"))
while guess!=n :
  if guess>n :
    print("high!")
    guess=int(input("guess a number"))
  elif guess<n :
    print("low!")
    guess=int(input("guess a number"))
  else:
    break
print("Yupp!It's correct")

guess a number12
low!
guess a number50
low!
guess a number70
high!
guess a number60
low!
guess a number65
high!
guess a number62
Yupp!It's correct