<a href="https://colab.research.google.com/github/20A31A0522/sailaja-eztraining-python/blob/main/DAY3(content%2Bprograms).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **LIST**

In [ ]:
#SLICING
l=[22,4.8,12,"JOHN"]
print(l[2])
print(l[3])
print(l[1:3])
print(l[1:2])
print(l[1:])
print(l[:])
print(l[:2])
print(l[::2])
print(l[::-1])

12
JOHN
[4.8, 12]
[4.8]
[4.8, 12, 'JOHN']
[22, 4.8, 12, 'JOHN']
[22, 4.8]
[22, 12]
['JOHN', 12, 4.8, 22]

### *1.List Functions*
- append( )
- extend( )
- insert( )
- remove( )
- pop( ) 
- clear( )
- index( )
- count( )
- sort( )
- reverse( )
- copy( )

In [ ]:
l=[5,5,7,9,9,9,22,11,22,23,24,27,500]
l.append(200)
print(l)
l.extend([1,2,3])
print(l)
l.sort()
print(l)
l.insert(3,4)
print(l)
l.remove(22)
print(l)
l.pop()
print(l)
l.pop(-1)
print(l)
print(l.index(22))
print(l.count(5))
l.reverse()
print(l)

[5, 5, 7, 9, 9, 9, 22, 11, 22, 23, 24, 27, 500, 200]
[5, 5, 7, 9, 9, 9, 22, 11, 22, 23, 24, 27, 500, 200, 1, 2, 3]
[1, 2, 3, 5, 5, 7, 9, 9, 9, 11, 22, 22, 23, 24, 27, 200, 500]
[1, 2, 3, 4, 5, 5, 7, 9, 9, 9, 11, 22, 22, 23, 24, 27, 200, 500]
[1, 2, 3, 4, 5, 5, 7, 9, 9, 9, 11, 22, 23, 24, 27, 200, 500]
[1, 2, 3, 4, 5, 5, 7, 9, 9, 9, 11, 22, 23, 24, 27, 200]
[1, 2, 3, 4, 5, 5, 7, 9, 9, 9, 11, 22, 23, 24, 27]
11
2
[27, 24, 23, 22, 11, 9, 9, 9, 7, 5, 5, 4, 3, 2, 1]

In [ ]:
#create a list with 10 items and print the elements one by one
l=[1,10,11.1,'kusuma',525,'saipallavi']
for i in range(6):
  print(l[i])

1
10
11.1
kusuma
525
saipallavi

In [ ]:
#create a list with 5 float numbers and find, display sum,avg of the list
l=[0.509,0.511,5.22,52.5,510.5]
print(sum(l))
avg=sum(l)/len(l)
print(avg)

569.24
113.848

In [ ]:
#after creating a list with 6 ele from the user ,extract only even no.s in the list
l=list(map(int,input().split(",")))
for i in l:
  if(i%2==0):
    print(i)

1,2,3,4,5,6
2
4
6

### *Exercise*

In [ ]:
#neon number
n=int(input())
sq=n*n
sum=0
while sq>0 :
  sum+=sq%10
  sq=sq//10
  sum=c+sq
print(sum)
if(n==sum):
  print("neon")
else:
  print("not neon")

11
4
not neon

In [ ]:
l=list(map(int,input().split()))
for i in l:

In [ ]:
l=list(map(int,input("Enter the no.s").split(",")))
prod=1
for i in l:
  prod=prod*i
if(prod<750):
  print("the product is",prod)
else:
  print("the sum is",sum(l))

Enter the no.s10,11,22,25
the sum is 68

### *2.List Comprehension*

In [ ]:
numbers=[elements for elements in "good afternoon"]
print(numbers)

['g', 'o', 'o', 'd', ' ', 'a', 'f', 't', 'e', 'r', 'n', 'o', 'o', 'n']

In [ ]:
l=["rajahmundry","kakinada","vizag","vijayawada"]
city=[]
for i in l:
  if "j" in i:
    city.append(i)
print(city)

['rajahmundry', 'vijayawada']

In [ ]:
l=[3**x for x in range(1,10)]
print(l)

[3, 9, 27, 81, 243, 729, 2187, 6561, 19683]

### **SET**
- **add**(ele)
- **update**(multiple ele)
- **remove**(ele)
- **discard**(ele)

-for remove(ele) if the req ele is not present,it gives error whereas for discard(ele) it doesnt give an error

In [ ]:
s={22,11,25,10}
print(s)
s.add(9)
print(s)
s.update([1,2])
print(s)
s.remove(1)
print(s)
s.discard(2)
print(s)

{25, 10, 11, 22}
{9, 10, 11, 22, 25}
{1, 2, 9, 10, 11, 22, 25}
{2, 9, 10, 11, 22, 25}
{9, 10, 11, 22, 25}

In [ ]:
s={1,2,3,5,9}
s.remove(4)
print(s)

KeyError: ignored

In [ ]:
s={1,2,3,5,9}
s.discard(7)
print(s)

{1, 2, 3, 5, 9}

In [ ]:
s1={11,12,13,14,15,16}
s2={12,14,16}
print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{11, 12, 13, 14, 15, 16}
{16, 12, 14}
{11, 13, 15}
{11, 12, 13, 14, 15, 16}
{16, 12, 14}
{11, 13, 15}

In [ ]:
s1={11,12,13,14,15,16}
s2={12,14,16}
print(s1.issuperset(s2))

True

In [ ]:
s1={11,12,13,14,15,16}
s2={12,14,16}
print(s1^s2)
print(s1.symmetric_difference(s2))

{11, 13, 15}
{11, 13, 15}

### **TUPLE**
- count( )
- index( )

In [ ]:
t=(22,11,25,10,22,0.9,"leader")
print(t)
print(t.count(22))
print(t.index(22))

(22, 11, 25, 10, 22, 0.9, 'leader')
2
0

In [ ]:
#nesting in tuple
t1=(1,1,2,3)
t2=(5,65,7)
t3=(t1,t2)
print(t3)

((1, 1, 2, 3), (5, 65, 7))

### **DICTIONARY**

- Dict contains elements with two units 'key and value'.
- keys must be unique.



- keys( )
- values( )
- items( )
- update( )
- pop( )
- popitem( )
- setdefault( )

In [ ]:
d={1:'kusuma',2:'saipallavi',3:'sailaja'}
print(d.keys())
print(d.values())
print(d.items())

dict_keys([1, 2, 3])
dict_values(['kusuma', 'saipallavi', 'sailaja'])
dict_items([(1, 'kusuma'), (2, 'saipallavi'), (3, 'sailaja')])

In [ ]:
d={'kusuma':'saipallavi','tejaswini':'heroine'}
print(d['tejaswini'])

heroine

In [ ]:
l=['john','tom','freddie']
print(dict.fromkeys(l))
print(dict.fromkeys(l,10))

{'john': None, 'tom': None, 'freddie': None}
{'john': 10, 'tom': 10, 'freddie': 10}

In [ ]:
d={1:'a',2:'b',3:'c',4:'d'}
print(d.update({5:'e'}))
print(d.pop(3))
print(d.popitem())
print(d.setdefault(6,'f'))

None
c
(5, 'e')
f