<a href="https://colab.research.google.com/github/20A31A0522/sailaja-eztraining-python/blob/main/DAY5_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random as r
s="training is good"
print(r.sample(s,3))
l=[10,11,22,25]
r.shuffle(l)
print(l)
print(r.choice(l))
print(r.choices(l,k=9))
print(r.random())
print(r.uniform(2,10))
print(r.randint(2,10))

['g', 'g', ' ']
[11, 10, 22, 25]
10
[22, 22, 10, 11, 11, 10, 11, 11, 25]
0.9142528879895947
3.472528514561281
7

In [ ]:
z=dir(r)
print(z)

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_inst', '_log', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [ ]:
import calendar
print(calendar.calendar(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [ ]:
import calendar
print(calendar.month(2023,12))

   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
import calendar
calendar.setfirstweekday(calendar.SATURDAY)
print(calendar.month(2023,8))

    August 2023
Sa Su Mo Tu We Th Fr
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [ ]:
import datetime
a=datetime.datetime.now()
print(a)

2023-02-03 04:43:36.258261

In [ ]:
sv=a.strftime("%Y")#LOWERCASE
fv=a.strftime("%Y")#uppercase
print(sv)
print(fv)

2023
2023

In [ ]:
#FUNCTIONS
def demo():
  print("training")
  print("phase")

demo()

training
phase

In [ ]:
def demo():
  print("training")
  print("phase")

demo()
print("1")

training
phase
1

In [ ]:
def demo():
  print("training")
  print("phase")

demo()
print("1")
demo()

training
phase
1
training
phase

In [ ]:
def multi():
  n1,n2,n3=map(int,input().split(","))
  prod=n1*n2*n3
  print(prod)

multi()

2,3,4
24

In [ ]:
def multi():
  n1,n2,n3=map(int,input().split(","))
  prod=n1*n2*n3
  return prod

ans=multi()
print(ans)

2,3,4
24

In [ ]:
#with arg,w/0 ret value
def multi(n1,n2,n3):
  prod=n1*n2*n3
  print(prod)

multi(3,4,5)

60

In [ ]:
def multi(n1,n2,n3):
  prod=n1*n2*n3
  print(prod)

a=int(input())
b=int(input())
c=int(input())
multi(a,b,c)

3
4
5
60

In [ ]:
#with arg,with ret value
def multi(n1,n2,n3):
  prod=n1*n2*n3
  return prod

ans=multi(3,4,5)
print(ans)

60

In [ ]:
def multi(n1,n2,n3):
  prod=n1*n2*n3
  return prod

a=int(input())
b=int(input())
c=int(input())
ans=multi(a,b,c)
print(ans)

3
4
5
60

In [ ]:
#lemon prgrm using type1
def count1():
  n=int(input())
  lemon=20
  excess=n-lemon
  less=lemon-n
  if(lemon<n):
    print("excess",excess)
  else:
    print("less",less)

count1()

25
excess 5

In [ ]:
#find factors of the given no. using functions type2
def factors():
  n=int(input())
  l=[]
  for i in range(1,n+1):
    if(n%i==0):
      l.append(i)
  return l

factlist=factors()
print(factlist)

6
[1, 2, 3, 6]

In [ ]:
#print multiplication table using func type 3
def multab(n):
  for i in range(1,13):
    prod=n*i
    print(n,"x",i,"=",prod)

n=int(input())
multab(n)

6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

In [ ]:
#find out sum of digits of the given no. using func type4
def sumofdigi(n):
  sum=0
  while n>0:
    rem=n%10
    sum=sum+rem
    n=n//10
  return sum

n1=int(input())
ans=sumofdigi(n1)
print(ans)

22222
10

In [ ]:
def display():
  n=int(input("enter a number"))
  if(n==1):
    display()
  else:
    print("done",n1)

display()

enter a number1
enter a number1
enter a number1
enter a number1
enter a number2
done 2

In [ ]:
def fact(n):
  if(n==0):
    return 1
  return n*fact(n-1)

factorial=fact(9)
print(factorial)

362880

1. n=5
2. n!=o
3. out of if cond
4. 5*fact(5-1) ------ 5*fact(4)
5. fact(4) ----- n=4
. 
.
.
.
6. fact(0) ------ n==0
7. return 1
8. fact(1)=1*1=1
9. fact(2)=2*1=2
10. fact(3)=3*2=6
11. fact(4)=4*6=24
12. fact(5)=5*24=120

In [8]:
#fibanocci
n=int(input("enter number"))
n1=0
n2=1
sum=0
count=1
if n<= 0:
   print("Please enter a positive integer")
elif n==1:
   print("Fibonacci",n)
   print(n1)
else:
   print("Fibonacci")
   while count < n:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

enter number8
Fibonacci
0
1
1
2
3
5
8

In [9]:
#fibanocci using recursion
def fib_rec(n):
   if n <= 1:
       return n
   else:
       return(fib_rec(n-1) + fib_rec(n-2))

nterms = 10
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci:")
   for i in range(nterms):
       print(fib_rec(i))

Fibonacci:
0
1
1
2
3
5
8
13
21
34

In [7]:
#two innputs
def rem_quo(a,b):
  rem=a%b
  quo=a//b
  return rem,quo

n1,n2=rem_quo(5,2)
print(n1,n2)

1 2

In [4]:
#variable length input
def summ(*a):
  c=0
  for i in a:
    c=c+i
    print(c)

summ(4,5,6,7)

4
9
15
22